@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Metropolis_reg';
    src: url(../res/fonts/Metropolis-Regular.otf);
}
@font-face {
    font-family: 'Metropolis_exBold';
    src: url(../res/fonts/Metropolis-ExtraBold.otf);
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
html{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    user-select: none;
}
