@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Metropolis_reg';
    src: url(../res/fonts/Metropolis-Regular.otf);
}
@font-face {
    font-family: 'Metropolis_exBold';
    src: url(../res/fonts/Metropolis-ExtraBold.otf);
}